<header>
    <nav class="nav">
        <a href="/" class="logo"> Black and Yellow</a>
        
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

            <ul class="nav-list">
            <li><a href="http://">Inicio</a></li>
            <li><a href="http://">Inicio</a></li>
            <li><a href="http://">Inicio</a></li>
            <li><a href="http://">Inicio</a></li>
        </ul>
    </nav>
</header>